<h1>New Node</h1>

<% if @user_teams.empty? %>
  <p>You need to be a member of a team before you can create content. <%= link_to "Create a team", new_admin_team_path %>.</p>
<% else %>
  <%= render "form", url: admin_content_index_path, submit_label: "Create Node", cancel_path: admin_content_index_path, show_team_selector: true %>
<% end %>
